version: "3.9"

services:
  server:
    build:
      context: ./server
      dockerfile: Dockerfile
    container_name: server
    env_file:
      - ./server/.env
    ports:
      - "4000:4000"     # expose to host
    restart: unless-stopped

  client:
    build:
      context: ./client
      dockerfile: Dockerfile
      args:
        NEXT_PUBLIC_API_URL: http://localhost:4000/api/v1
    container_name: client
    environment:
      - PORT=3000
      - NEXT_PUBLIC_API_URL=http://localhost:4000/api/v1
    ports:
      - "3000:3000"
    depends_on:
      - server
    restart: unless-stopped

networks:
  default:
    driver: bridge
